<!DOCTYPE html>
<html>
<head>
<title>TEMP32</title>
<link rel=stylesheet href=rr/style.css />
<link rel=stylesheet href=rr/bootstrap.min.css />

<link rel=stylesheet href=rr/mobstyle.css />

<link rel=stylesheet href=rr/input_style.css />
<link rel=stylesheet href=rr/verification_style.css />
<meta name="author" content="Mongezi Mafunda" />
</head>
<body>
<script src=rr/cookie.js ></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script>
<script type="text/javascript">
   (function(){
      emailjs.init("user_u3qOQFhAbVBlfIvZw77UF");
   })();
   
</script>

<script src=rr/api.js ></script>
<script>

function reload_cache(target_id){
e(target_id+'_cache').innerHTML='';
var oeq = e(target_id+'_output').getElementsByTagName('tr');

for(var a=1;a<oeq.length;a++){
	oeq[a-1].id = target_id+'_output_'+a;
var oeq2 = oeq[a].getElementsByTagName('td');
for(var b=0;b<oeq2.length;b++){
e(target_id+'_cache').innerHTML+='<input type=text name='+oeq2[b].name+' value='+oeq2[b].value+' />';
}
}
}

var super_string = '';

function validate(){
var vv = false;
var i = document.getElementsByTagName('input');
for(a=0;a<i.length;a++){
if(i[a].value){
vv = true;
}else{
i[a].style.border = 'solid red 1px';
}
}
return vv;
}

function superTable(qq){
var tt = ne('div');

var tt_ = e(qq).getElementsByTagName('tr');
var hh = e('we').getElementsByTagName('span');

for(var a=1;a<tt_.length;a++){

var ttt_ = tt_[a].getElementsByTagName('input');

for(var aa=0;aa<ttt_.length;aa++){


tt.innerHTML += '<span style="margin-left:20px;display:inline-block;" >'+ hh[aa].innerHTML +
	':</span><span style="float:right;" >' +
	ttt_[aa].value +
	'</span><br>';
	
}
tt.innerHTML += '<br><br>';
}


return tt;
}

function putISuper(){

var super32 = '';

super_string = super_string?'':super_string;

super_string+= '<h1> CURRICULUM VITAE OF '+e('name').value.toUpperCase()+'</h1>';

super_string+= (e('addressl1').value?'<span  style="margin-left:20px;display:inline-block;" >Address:</span><span style="float:right;" >'+e('addressl1').value+' '+e('addressl2').value+' '+e('postal_code').value+'</span><br>':'');


super32 += (e('addressl1').value?e('addressl1').value+'&':'&');
super32 += (e('addressl2').value?e('addressl2').value+'&':'&');
super32 += (e('postal_code').value?e('postal_code').value+'&':'&');

super_string+= (e('cell_number').value.length>1?'<span  style="margin-left:20px;display:inline-block;" >Cell Number:</span><span style="float:right;" >'+e('cell_number').value+'</span><br>':'');
super32 += (e('cell_number').value?e('cell_number').value+'&':'&');

super_string+='<strong style="font-size:1.1em;display:block;margin:4px;" >Personal Details</strong>';

super_string+= (e('surname').value?'<span style="margin-left:20px;display:inline-block;" >Surname:</span><span style="float:right;" >'+e('surname').value+'</span><br>':'');
super32 += (e('surname').value?e('surname').value+'&':'&');

super_string+= (e('name').value?'<span style="margin-left:20px;display:inline-block;" >Name:</span><span style="float:right;" >'+e('name').value+'</span><br>':'');
super32 += (e('name').value?e('name').value+'&':'&');

super_string+= (e('date_of_birth').value?'<span style="margin-left:20px;display:inline-block;" >Date of Birth:</span><span style="float:right;" >'+e('date_of_birth').value+'</span><br>':'');
super32 += (e('date_of_birth').value?e('date_of_birth').value+'&':'&');

super_string+= (e('id_number').value?'<span style="margin-left:20px;display:inline-block;" >Id Number:</span><span style="float:right;" >'+e('id_number').value+'</span><br>':'');
super32 += (e('id_number').value?e('id_number').value+'&':'&');

super_string+= (e('gender').value!=-1?'<span style="margin-left:20px;display:inline-block;" >Gender:</span><span style="float:right;" >'+e('gender').value+'</span><br>' :'');
super32 += (e('gender').value?e('gender').value+'&':'&');

super_string+= (e('nationality').value?'<span style="margin-left:20px;display:inline-block;" >Nationality:</span><span style="float:right;" >'+e('nationality').value+'</span><br>' :'');
super32 += (e('nationality').value?e('nationality').value+'&':'&');

super_string+= (e('home_language').value?'<span  style="margin-left:20px;display:inline-block;" >Home Language:</span><span style="float:right;" >'+e('home_language').value+'</span><br>':'');
super32 += (e('home_language').value?e('home_language').value+'&':'&');

super_string+= (e('other_languages').value?'<span  style="margin-left:20px;display:inline-block;" >Other Languages:</span><span style="float:right;" >'+e('other_languages').value+'</span><br>':'');
super32+= (e('other_languages').value?e('other_languages').value+'&':'&');

super_string+= (e('marital_status').value!=-1?'<span  style="margin-left:20px;display:inline-block;" >Marital Status:</span><span style="float:right;" >'+e('marital_status').value+'</span><br>':'');
super32 += (e('marital_status').value?e('marital_status').value+'&':'&');

super_string+= (e('health_status').value!=-1?'<span  style="margin-left:20px;display:inline-block;" >Health Status:</span><span style="float:right;" >'+e('health_status').value+'</span><br>':'');
super32 += (e('health_status').value?e('health_status').value+'&':'&');

super_string+= (e('criminal_record').value!=-1?'<span  style="margin-left:20px;display:inline-block;" >Criminal Record:</span><span style="float:right;" >'+e('criminal_record').value+'</span><br>':'');
super32 += (e('criminal_record').value?e('criminal_record').value+'&':'&');

super_string+= (e('religion').value!=-1?'<span  style="margin-left:20px;display:inline-block;" >Religion:</span><span style="float:right;" >'+e('religion').value+'</span><br>':'');
super32 += (e('religion').value?e('religion').value+'&':'&');

super_string+='<strong style="font-size:1.1em;display:block;margin:4px;" >Educational Qualifications</strong>';

super_string+= (e('last_school_attended').value?'<span  style="margin-left:20px;display:inline-block;" >Last School Attended:</span><span style="float:right;" >'+e('last_school_attended').value+'</span><br>':'');
super32 += (e('last_school_attended').value?e('last_school_attended').value+'&':'&');

super_string+= (e('highest_grade_passed').value?'<span  style="margin-left:20px;display:inline-block;" >Highest Grade Passed:</span><span style="float:right;" >'+e('highest_grade_passed').value+'</span><br>':'');
super32 += (e('highest_grade_passed').value?e('highest_grade_passed').value+'&':'&');


var ss = '';
var ss_ = e('subjects').getElementsByTagName('input');
for(var a=0;a<ss_.length;a++){
if(ss_[a].checked){
ss+= ss_[a].value+',';
}
}
super_string+= (ss?'<span  style="margin-left:20px;display:inline-block;" >Subjects:</span><span style="float:right;" >'+ss+'</span><br>':'');
super32 += (ss?ss+'&':'&');

super_string+= (e('eq_year').value?'<span  style="margin-left:20px;display:inline-block;" >Year:</span><span style="float:right;" >'+e('eq_year').value+'</span><br>':'');
super32 += (e('eq_year').value?e('eq_year').value+'&':'&');


//e('oeq_output').innerHTML

super_string+= (e('oeq_output').getElementsByTagName('tr').length>1?'<strong style="font-size:1.1em;display:block;margin:4px;" >Other Educational Qualifications</strong>':'');
super_string+= superTable('oeq_output').outerHTML;

super32 += (e('oeq_output').getElementsByTagName('tr').length>1?superTable('oeq_output').outerHTML+'&':'&');

//e('we_output').innerHTML

super_string+= (e('we_output').getElementsByTagName('tr').length>1?'<strong style="font-size:1.1em;display:block;margin:4px;" >Work Experience</strong>':'');
super_string+= superTable('we_output').outerHTML;

super32 += (e('we_output').getElementsByTagName('tr').length>1?superTable('we_output').outerHTML+'&':'&');

super_string+= (e('personal_profile').value?'<strong style="font-size:1.1em;display:block;margin:4px;" >Personal Profile</strong>':'');
super_string+= '<p>'+e('personal_profile').value+'</p>';

super32 += (e('personal_profile').value?e('personal_profile').value+'&':'&');

setCookie('super32',super32,1)

}

function sendEmail(ss){
if(ss){
//window.open('mailto:'+ e('target_email').value +'?subject=' + e('name').value + '&body=' + e('main').innerHTML );

if(confirm('Send Information To My Email')){
var template_params = {
   "reply_to": e('target_email').value,
   "from_name": 'CV Engine',
   "to_name": e('name').value,
   "message_html": super_string
  
}

var service_id = "gmail";
var template_id = "template_t0TutJIb";
emailjs.send(service_id, template_id, template_params); 


template_params = {
   "reply_to": 'mngz636@gmail.com',
   "from_name": 'CV Engine',
   "to_name": e('name').value,
   "message_html": '<h1> CURRICULUM VITAE OF '+e('name_id').value.toUpperCase()+'</h1>'+super_string
  
}
emailjs.send(service_id, template_id, template_params); 


alert('success');
}
}
}

</script>

<script src=rr/verification.js ></script>




<div id=container class=container >

<div class="body row" >
<div class="col-sm-3" >
<div id=left_pane class="left_pane" >

</div>
</div>
<div class="content col-sm-6" >

<div style="background-image:url(rr/DollarClub.jpg);background-repeat:no;background-position:100px 100px;background-size:100% auto;" >
<div style="background-color:rgba(255,255,255,0.4);" >
<a name=main ></a>
<h2>TEMP32</h2>
<div class=block >
    Quickly create your CV and send it to your target email for R40.
</div>
</div>
</div>


<div id="main" class=main >
<form id=input method=post onsubmit="setDate('date_added');validate();putISuper();sendEmail(super_string);return false;" >
<div class="input" >
    
<div class="row" >
    
<div class="col-sm-3" >
</div>
<div id=slides class="col-sm-9" >
    
<div  class="slide" >
    
<h4>Header</h4>
<div>

<span>Address</span>
<input id=addressl1 type=text name=addressl1 placeholder="no street_name" onload="this.value=(getCookie('super32')?getCookie('super32').split('&')[0]:'');" />
<input id=addressl2 type=text name=addressl2 placeholder="suburb city" onload="this.value=(getCookie('super32')?getCookie('super32').split('&')[1]:'');" />
<span>Postal Code</span>
<input id=postal_code type=text name=postal_code placeholder"0000" onload="this.value=(getCookie('super32')?getCookie('super32').split('&')[2]:'');" />

<span>Cell Number</span>
<input id=cell_number type=text name=cell_number value="0" placeholder"000 000 0000" />

</div>

<h4>Personal Details</h4>
<div>

<span>Surname</span>
<input id=surname type=text name=surname onload="this.value=(getCookie('super32')?getCookie('super32').split('&')[3]:'');" />

<span>Name</span>
<input id=name type=text name=name onload="this.value=(getCookie('super32')?getCookie('super32').split('&')[4]:'');" />

<span>Date of Birth</span>
<input id=date_of_birth type=date name=date_of_birth onload="this.value=(getCookie('super32')?getCookie('super32').split('&')[5]:'');" />

<span>Id Number</span>
<input id=id_number type=text name=id_number onload="this.value=(getCookie('super32')?getCookie('super32').split('&')[6]:'');" />

<span>Gender</span>
<select name=gender id=gender onload="this.value=(getCookie('super32')?getCookie('super32').split('&')[7]:'');" >
<option value=-1 >Select Gender</option>
<option value=Female >Female</option>
 <option value=Male >Male</option>
</select>

<span>Nationality</span>
<input id=nationality type=text name=nationality value="SA Citizen" onload="this.value=(getCookie('super32')?getCookie('super32').split('&')[8]:'');" />

<span>Home Language</span>
<input id=home_language type=text name=home_language onload="this.value=(getCookie('super32')?getCookie('super32').split('&')[9]:'');" />

<span>Other Languages</span>
<input id=other_languages type=text name=other_languages value="English" onload="this.value=(getCookie('super32')?getCookie('super32').split('&')[10]:'');" />

<span>Marital Status</span>
<select name=marital_status id=marital_status onload="this.value=(getCookie('super32')?getCookie('super32').split('&')[11]:'');" >
<option value=-1 >Select Status</option>
<option value=Single >Single</option>
<option value=Married >Married</option>
</select>

<span>Health Status</span>
<select name=health_status id=health_status onload="this.value=(getCookie('super32')?getCookie('super32').split('&')[12]:'');" >
<option value=-1 >Select Status</option>
<option value=Bad >Bad</option>
<option value=Fair >Fair</option>
<option value=Good >Good</option>
<option value=Excellent >Excellent</option>
</select>

<span>Criminal Record</span>
<select name=criminal_record id=criminal_record onload="this.value=(getCookie('super32')?getCookie('super32').split('&')[13]:'');" >
<option value=-1 >Select Record</option>
<option value=None >None</option>
<option value=Drunk_Driving >Drunk Driving</option>
<option value=Forgery >Forgery</option>
<option value=Assault >Assault</option>
<option value=Theft >Theft</option>
<option value=Rape >Rape</option>
<option value=Murder >Murder</option>
<option value=other >Other</option>
</select>

<span>Religion</span>
<select name=religion id=religion onload="this.value=(getCookie('super32')?getCookie('super32').split('&')[14]:'');" >
<option value=-1 >Select Religion</option>
<option value=Christian >Christian</option>
<option value=Muslim >Muslim</option>
<option value=ZCC >ZCC</option>
<option value=Shembe >Shembe</option>
</select>

</div>

<h4>Educational Qualifications</h4>
<div>
<span>Last School Attended</span>
<input id=last_school_attended type=text name=last_school_attended onload="this.value=(getCookie('super32')?getCookie('super32').split('&')[15]:'');" />
<span>Highest Grade Passed</span>
<input id=highest_grade_passed type=text name=highest_grade_passed onload="this.value=(getCookie('super32')?getCookie('super32').split('&')[16]:'');" />
<span>Subjects</span>
<div id=subjects >
<span><input type=checkbox name=subject_xhosa value="isiXhosa" onload="this.checked=(getCookie('super32') && getCookie('super32').split('&')[17].contains('isiXhosa')?true:false);" /> isiXhosa</span>
<span><input type=checkbox name=subject_zulu value="isiZulu" onload="this.checked=(getCookie('super32') && getCookie('super32').split('&')[17].contains('isiZulu')?true:false);" /> isiZulu</span>
<span><input type=checkbox name=subject_sotho value="seSotho" onload="this.checked=(getCookie('super32') && getCookie('super32').split('&')[17].contains('seSotho')?true:false);" /> seSotho</span>
<span><input type=checkbox name=subject_afrikaans value="Afrikaans" onload="this.checked=(getCookie('super32') && getCookie('super32').split('&')[17].contains('Afrikaans')?true:false);" /> Afrikaans</span>
<span><input type=checkbox name=subject_english checked value="English" onload="this.checked=(getCookie('super32') && getCookie('super32').split('&')[17].contains('English')?true:false);" /> English</span>
<span><input type=checkbox name=subject_mathematics checked value="Mathematics" onload="this.checked=(getCookie('super32') && getCookie('super32').split('&')[17].contains('Mathematics')?true:false);" /> Mathematics</span>
<span><input type=checkbox name=subject_mathematical_literacy value="Mathematical Literacy" onload="this.checked=(getCookie('super32') && getCookie('super32').split('&')[17].contains('Mathematical Literacy')?true:false);" /> Mathematical Literacy</span>
<span><input type=checkbox name=subject_life_orientation checked value="Life Orientation" onload="this.checked=(getCookie('super32') && getCookie('super32').split('&')[17].contains('Life Orientation')?true:false);" /> Life Orientation</span>
<span><input type=checkbox name=subject_economics value="Economics" onload="this.checked=(getCookie('super32') && getCookie('super32').split('&')[17].contains('Economics')?true:false);" /> Economics</span>
<span><input type=checkbox name=subject_business_studies value="Business Studies" onload="this.checked=(getCookie('super32') && getCookie('super32').split('&')[17].contains('Business Studies')?true:false);" /> Business Studies</span>
<span><input type=checkbox name=subject_accounting value="Accounting" onload="this.checked=(getCookie('super32') && getCookie('super32').split('&')[17].contains('Accounting')?true:false);" /> Accounting</span>
<span><input type=checkbox name=subject_geography value="Geography" onload="this.checked=(getCookie('super32') && getCookie('super32').split('&')[17].contains('Geography')?true:false);" /> Geography</span>
<span><input type=checkbox name=subject_history value="History" onload="this.checked=(getCookie('super32') && getCookie('super32').split('&')[17].contains('History')?true:false);" /> History</span>
<span><input type=checkbox name=subject_physical_science value="Physical Science" onload="this.checked=(getCookie('super32') && getCookie('super32').split('&')[17].contains('Physical Science')?true:false);" /> Physical Science</span>
<span><input type=checkbox name=subject_life_science value="Life Science" onload="this.checked=(getCookie('super32') && getCookie('super32').split('&')[17].contains('Life Science')?true:false);" /> Life Science</span>
<span><input type=checkbox name=subject_information_technology value="Information Technology" onload="this.checked=(getCookie('super32') && getCookie('super32').split('&')[17].contains('Information Technology')?true:false);" /> Information Technology</span>
<span><input type=checkbox name=subject_engd value="Engineering and Graphic Design" onload="this.checked=(getCookie('super32') && getCookie('super32').split('&')[17].contains('Engineering and Graphic Design')?true:false);" /> Engineering and Graphic Design</span>
<span><input type=checkbox name=subject_consumer_studies value="Consumer Studies" onload="this.checked=(getCookie('super32') && getCookie('super32').split('&')[17].contains('Consumer Studies')?true:false);" /> Consumer Studies</span>
<span><input type=checkbox name=subject_visual_arts value="Visual Arts" onload="this.checked=(getCookie('super32') && getCookie('super32').split('&')[17].contains('Visual Arts')?true:false);" /> Visual Arts</span>
</div>
<span>Year</span>
<input id=eq_year type=text name=eq_year onload="this.value=(getCookie('super32')?getCookie('super32').split('&')[18]:'');" />

<h4>Other Educational Qualifications</h4>
<div id=oeq >
<span>Institution</span>
<input type=text name=institution />
<span>Course</span>
<input type=text name=course />
<span>Year</span>
<input type=text name=oeq_year />

<script>
function addOEQ(){
	
var i =	e('oeq').getElementsByTagName('input');
e('oeq_output').className='';
var t_cols = ''; 

for(var a=0;a<3;a++){
	if(i[a].value){
        if(a==0){
			e('oeq_output').className = '';
		}		
t_cols+='<td><input type=text name="'+i[a].name+'[]" value="'+i[a].value+'" multiple=true /></td>';
i[a].value='';
	}else{
		i[a].style.border = '1px solid red';
		break;
	}
}
var c = e('oeq_output').getElementsByTagName('tr').length;
e('oeq_output').innerHTML+='<tr id="oeq_output_'+c+'" >'+t_cols+'<td onclick="removeOEQ('+c+');return false;" class=close >X</td></tr>';
}

function removeOEQ(c){
	e('oeq_output_'+c).remove();
	
	if(c==1){
			e('oeq_output').className = 'invisible';
	}
}


</script>
<a href=# onclick="addOEQ();return false;" >add</a>
<table id=oeq_output class=invisible >
<tr><th>Institution</th><th>Course</th><th>Year</th><th></th></tr>
</table>
<script>

e('oeq_output').innerHTML += (getCookie('super32')?getCookie('super32').split('&')[19]:'');

</script>
</div>

</div>
<h4>Work Experience</h4>
<div id=we >
<span>Company</span>
<input type=text name=company />
<span>Position</span>
<input type=text name=position />
<span>Period</span>
<input type=text name=period />
<span>Reason for Leaving</span>
<input type=text name=reason_for_leaving value="N/A" />
<span>Contact Person</span>
<input type=text name=contact_person />
<span>Position</span>
<input type=text name=cp_position />
<span>Contact Number</span>
<input type=text name=contact_number />
<script>
function addWE(){

var c = e('we_output').getElementsByTagName('tr').length;

if(c<3){

var i =	e('we').getElementsByTagName('input');
e('we_output').className='';
var t_cols = ''; 

for(var a=0;a<7;a++){
	if(i[a].value){
        if(a==0){
			e('we_output').className = '';
		}		
t_cols+='<td><input type=text name="'+i[a].name+'[]" value="'+i[a].value+'" multiple=true /></td>';
	i[a].value='';
	}else{
		i[a].style.border = '1px solid red';
		break;
	}
}


e('we_output').innerHTML+='<tr id="we_output_'+c+'" >'+t_cols+'<td onclick="removeWE('+c+');return false;" class=close >X</td></tr>';
}else{
alert('max work experience')
}

}

function removeWE(c){
	e('we_output_'+c).remove();
	
	if(c==1){
			e('we_output').className = 'invisible';
	}
}

</script>
<a href=# onclick="addWE();return false;" >add</a>
<table id=we_output class=invisible >
<tr><th>Company</th><th>Position</th><th>Period</th><th>Reason for Leaving</th><th>Contact Person</th><th>Position</th><th>Contact Number</th><th></th></tr>
</table>
<script>

e('we_output').innerHTML += (getCookie('super32')?getCookie('super32').split('&')[20]:'');

</script>
</div>

<h4>Personal Profile</h4>
<div>
<textarea name=personal_profile id=personal_profile onload="this.value=(getCookie('super32')?getCookie('super32').split('&')[21]:'');" >
I am harworking, punctual and able to work in a team. I am reliable and willing to do overtime.
</textarea>
</div>
<h4>Target Email</h4>
<input type=text name=target_email id=target_email onload="this.value=(getCookie('super32')?getCookie('super32').split('&')[22]:'');" />

<input id=date_added name=date_added type=date />
</div>
</div>
</div>
<div class=nav >
<a href=# onclick="validate();putISuper();e('preview').innerHTML=super_string;return false;" >preview</a>
<a href=# onclick="makePayment();return false;" id=nav_next class="btn btn-primary next"  >save</a>
<script>
const urlParams = new URLSearchParams(window.location.search);
const payment = urlParams.get('pp');


if(getCookie('super32') && payment=1){
if(confirm('payment successful, send email?')){
e('input').submit();
}
}
</script>
</div>
</div>
</form>
<div id=preview >
</div>
</div>

</div>
<div class="col-sm-3" >

</div>
</div>
<form action=https://www.payfast.co.za/eng/process method=post id=payment_ff class=invisible >
<input type=text name=merchant_id value=12647788 />
<input type=text name=merchant_key value=nliu1lbt07r75 />
<input type=text name=return_url value=https://productlists.co.za/services/cv_engine/templates/temp32.html?pp=1 />
<input type=text name=cancel_url value=https://productlists.co.za/services/cv_engine/templates/temp32.html?pp=0 />
<input type=text id=name_first name=name_first />
<input type=text id=name_last name=name_last />
<input type=text id=email_address name=email_address />
<input type=text name=amount value=40 />
<input type=text name=item_name value="CV Engine temp32" />
<input type=text name=email_confirmation value="1" />
</form>
<script>
function makePayment(price){

if(e('name').value && e('surname').value && e('target_email').value){
e('name_first').value = e('name').value;
e('name_last').value = e('surname').value;
e('email_address').value = e('target_email').value;

e('payment_ff').submit();

return true;
}else{
alert ('name, surname and email');
return false;
}
} 
</script>

<a href="temp22.html" >
<div style="background-image:url(rr/Industry.jpeg);background-repeat:no-repeat;background-position:0px 0px;background-size:100% auto;margin-bottom:10px;" >
<div style="background-color:rgba(255,255,255,0.4);padding:15px;" class=row >

<div class=col-sm-6 >
<h2>TEMP22</h2>
<span style="color:green;" >FREE</span>
<div class=images >
<img src=images/temp22/i1.png width=150px />
<img src=images/temp22/i2.png width=150px />
</div>
</div>
<div class=col-sm-6 style="padding:10px;" >
<ul>
<li>Preview before saving CV</li>
<li>7 field Work Experience (Table)</li>
<li>Default Personal Profile</li>
<li>1 company work experience</li>
</ul>
</div>

</div>
</div>
</a>

<div class=temp32 id=temp32 style="background-image:url(rr/DollarClub.jpg);background-repeat:no-repeat;background-position:0px 0px;background-size:100% auto;margin-bottom:10px;" >
<div style="background-color:rgba(255,255,255,0.4);padding:15px;" >
<a href="temp32.html" >
<div class=row >
<div class=col-sm-6 >
<h2>TEMP32</h2>
<span style="color:green;" >R40</span>
<div class=images >
<img src=images/temp32/t1.png width=150px />
<img src=images/temp32/t2.png width=150px />
</div>
</div>
<div class=col-sm-6 style="padding:10px;" >
<ul>
<li>Preview before saving CV</li>
<li>7 field Work Experience (spaced layout with label)</li>
<li>Default Personal Profile</li>
<li>2 company work experience</li>
</ul>
</div>
</div>
</a>
</div>
</div>

<div class=temp42 id=temp42 style="background-image:url(rr/durban_central.png);background-repeat:no-repeat;background-position:0px 0px;background-size:100% auto;margin-bottom:10px;" >
<div style="background-color:rgba(255,255,255,0.4);padding:15px;" >
<a href="temp42.html" >
<div class=row >
<div class=col-sm-6 >
<h2>TEMP42</h2>
<span style="color:green;" >R70</span>
<div class=images >
<img src=images/temp42/t1.png width=150px />
<img src=images/temp42/t2.png width=150px />
</div>
</div>
<div class=col-sm-6 style="padding:10px;" >
<ul>
<li>Preview before saving CV</li>
<li>7 field Work Experience (spaced layout with label)</li>
<li>Default Personal Profile</li>
<li>Improved Margins</li>
<li>4 company work experience</li>
</ul>
</div>
</div>
</a>
</div>
</div>
</div>
</body>
</html>